body {
    background-color:burlywood;
}



.top-coffee {
    color: rgb(0, 0, 0);
    margin-top: 80px;
    margin-left: 30px;
    font-family: cursive;
    opacity: 60%;
}

.desc1 {
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: initial;
    opacity: 95%;
}

.desc2 {
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-left: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: initial;
    opacity: 95%;
}

.desc3 {
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-left: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: initial;
    opacity: 95%;
}

.border {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 800px;
    height: 100px;
    margin-left: 320px;
    opacity: 100%;
    margin: auto;
}

.head {
    padding-top: -30px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.combi {
    padding-bottom: -10px;
    margin-left: 35px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 1.5;
}